<div *ngIf="dataLoaded==false" class="spinner-border text-secondary" role="status">
    <span class="visually-hidden"></span>
</div>

<h2  class="fw-bold bg-dark text-white border border-info">Renkler</h2>

<ul *ngIf="dataLoaded==true" class="list-group">
    <li
    [class]="getAllColor()"
    routerLink = "/cars">
    Tüm Renkler</li>
    <li (click)="setCurrentColor(color)" 
    routerLink = "/cars/color/{{color.colorId}}"
    *ngFor="let color of colors" 
    [class]="getCurrentColorClass(color)">
    {{color.colorName   }}</li>
</ul>
