<div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
    <span class="visually-hidden"></span>
</div>

<h2  class="fw-bold bg-dark text-white border border-info">Markalar</h2>


<ul *ngIf="dataLoaded==true" class="list-group">
    <li
    [class]="getAllBrands()"
    routerLink = "/cars">
    Tüm Markalar</li>
    <li (click)="setCurrentBrand(brand)" 
    routerLink = "/cars/brand/{{brand.brandId}}"
    *ngFor="let brand of brands" 
    [class]="getCurrentBrandClass(brand)">
    {{brand.brandName}}</li>

</ul>

