<div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status">
    <span class="visually-hidden"></span>
</div>
<h2  class="fw-bold bg-dark text-white border border-info">Arabalar</h2>

<ul *ngIf="dataLoaded==true" class="list-group">
    <li (click)="setCurrentCar(car)" 
    routerLink = "/car-image-dto/{{car.carId}}"
    *ngFor="let car of cars" 
    [class]="getCurrentCarClass(car)">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marka</th>
                <th>Renk</th>
                <th>Model Yılı</th>
                <th>Fiyat</th>
            </tr>
        </thead>
        <tr>
            <td>{{car.carId}}</td>
            <td>{{car.brandName}}</td>
            <td>{{car.colorName}}</td>
            <td>{{car.modelYear}}</td>
            <td>{{car.dailyPrice}} TL</td>
        </tr>
    </table>
    </li>
</ul>

